# Flask 
Flask
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Jinja2
Werkzeug

# Database and Migrations
psycopg2
alembic
SQLAlchemy

# Auth0
python-dotenv
python-jose
six
requests
authlib

# Unknown Dependencies
click
gitdb
GitPython
gunicorn
itsdangerous
Mako
MarkupSafe
pbr
python-dateutil
python-editor
PyYAML
six
smmap
stevedore

    