{% extends 'main.html' %}
{% block title %} Gyms {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Gyms</h1>
        <p>All gyms listed in the boulderlibary database.</p>
    </div>
</div>
<section class="gyms">
    {% for gym in gyms %}
    <div class="row">
        <div class="col-md-10">
            <div class="gym">
                <h4>{{ gym.name }}</h4>
                <ul>
                    <li>{{ gym.address + ", " + gym.city }}</li>
                    <li>{{ gym.category }}</li>
                    <li><a href="{{ gym.website }}" target="_blank" >{{ gym.website | replace("https:", "") | replace("/", "") | replace("www.", "") }}</a></li>
                </ul>
            </div>
        </div>    
    </div>
    {% endfor %}
</section>
{% endblock %}

